
.idea/

Data/21909_28156_bundle_archive.zip

Data/59760_840806_bundle_archive.zip

Data/674157_1185810_bundle_archive.zip

*.cfg

AWS_Tools/__pycache__/

Data/animal
Data/human
Data/plant
Data/.DS_Store

.DS_Store

venv
dataFunctions/image_df.csv
